<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Kysymyspankki</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Kysy kysymyksiä</h1>

        <p><a href="/kysymykset">Tästä kysymyspankkiin</a></p>
        
        
        <form action="/lisaakysymys" method="POST">
            <span>Luo uusi kysymys: </span><br/>
            <span> Kurssi: </span><input type="text" name="kurssi"/><br/>
            <span> Aihe: </span><input type="text" name="aihe"/><br/>
            <span> Kysymysteksti: </span><input type="text" name="kysymysteksti"/><br/>
            <input type="submit" value="lisää"/>
        </form>
        
        <h1>Vastauksia kysymyksiin</h1>
        
        <form action="/lisaavastaus" method="POST">
            <span>Vastaa: </span><br/>
            <span> Kysymyksen id: </span><input type="text" name="kysymys_id"/><br/>
            <span> Vastausteksti: </span><input type="text" name="vastausteksti"/><br/>
            <span> Oikein (kyllä/ei): </span><input type="text" name="oikein"/><br/>
            <input type="submit" value="lisää"/>
        </form>
        
        
        
        
        
        
        
        
    </body>
</html>